// --------------------
// Definition of variables
$primary: #32c3ff;
$ya_yellow: #feda6a;
$silver_fox: #d4d4dc;
$matte_grey: #393f4d;
$dark_slate: #1d1e22;

$grassy_Green: #9bc400;
$purplemajesty: #8076a3;
$mountainpink: #f9c5bd;
$stonepurple: #7c677f; // ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------
// --------------------
// Style reusable for all components
@import './styles/home.scss';
@import './styles/login.scss';
@import './styles/google_signin.scss';

body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: bold;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 9fr 1fr;
}

.App {
  text-align: center;

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: none;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}
