.chat_wrapper {
  position: relative;
  height: calc(100vh - 56px);
  top: 56px;
  display: grid;
  // grid-template-areas:
  //   'box box list'
  //   'box box list'
  //   'input btn list';
  grid-template-columns: 6fr 1fr;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.message_box {
  grid-area: box;
}

.message_input {
  grid-area: input;
}
.message_send_btn {
  grid-area: btn;
}

.current_chat {
  display: flex;
  flex-direction: column;
  /* grid-template-areas:
        'box box'
        'input btn'; */
  /* grid-template-columns: 1fr auto;*/
}

.avatar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.chat_wrapper input {
  border: 1px solid #e6e6e6;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  margin: 10px;
}

.chat_wrapper button {
  border: 1px solid #e6e6e6;
  padding: 6px 12px;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
}

.avatar_list .active_chat_avatar > span {
  background-color: #fed65f7a;
}

.avatar_list > span {
  margin: 2%;
  border-radius: 50%;
  padding: 10px;
}

.avatar_list {
  overflow: overlay;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #dcdcdc8c;
}

.active_chat_avatar > img {
  // background-color: black;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.current_user_box {
  display: flex;
  padding-left: 5%;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid black;
}

.friend_box {
  display: flex;
  padding-left: 5%;
  align-items: flex-end;
  justify-content: flex-end;
  border: 1px solid black;
}

.current_user_box > div {
  align-self: flex-start;
  justify-self: flex-start;
}
.current_user_box > div {
  align-self: flex-end;
  justify-self: flex-end;
}

.right {
  justify-content: flex-end !important;
}
.left {
  justify-content: flex-start !important;
}

.left > div {
  background-color: $ya_yellow;
}
.right > div {
  background-color: $pinky;
  color: white;
  margin-right: 10px;
}

.chat_bubble_container {
  flex-grow: 1;
  overflow: overlay;
}

.input_container {
  display: flex;
}

.input_container input {
  flex-grow: 1;
}

@media (min-width: 600px) {
  .chat_wrapper {
    top: 64px;
    height: calc(100vh - 64px);
  }
}
