.send_friendrequest_container {
}

.friendspage {
  margin-top: 70px;
  height: 95vh;
}

.in_request_wrapper,
.out_request_wrapper,
.friend_wrapper {
  display: flex;
  align-items: center;
  margin: 1%;
}

.friend_wrapper {
  height: 300px;
  width: 200px;
  padding: 5px;
  margin: 20px;
  background-color: white;
  border: 2px solid white;
  display: grid;
  place-content: space-between center;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}

.in_request_wrapper > *,
.out_request_wrapper > * {
  margin: 2%;
}

.request_text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.request_text span:first-of-type {
  font-size: 1.2rem;
  font-weight: bold;
}

.request_text span:last-of-type {
  font-size: 1rem;
}

.friend_name {
  font-size: 18px;
  text-align: center;
}

.friend_icon_wrapper {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.friend_icon_wrapper i {
  font-size: 18px;
}

.friendlist {
  display: flex;
}

.request_list {
  height: 300px;
  overflow-y: scroll;
}

.request_btn_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2%;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $ya_yellow;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $silver_fox;
}

.friend_icons b {
  display: none;
}

.friend_icons:hover i {
  display: none;
}
.friend_icons:hover b {
  display: block;
  cursor: pointer;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  font-weight: bold;
}
