.send_friendrequest_container {
  margin-left: auto;
  margin-right: auto;
}

.friendspage {
  margin-top: 70px;
  height: 95vh;
}

.in_request_wrapper,
.out_request_wrapper,
.friend_wrapper {
  display: flex;
  align-items: center;
  margin: 1%;
}

.friend_wrapper {
  height: 300px;
  width: 200px;
  padding: 5px;
  margin: 20px;
  background-color: white;
  border: 2px solid white;
  display: grid;
  place-content: space-between center;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
}

.in_request_wrapper > *,
.out_request_wrapper > * {
  margin: 1%;
}

.request_text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.request_text span:first-of-type {
  font-size: 1.2rem;
  font-weight: bold;
}

.request_text span:last-of-type {
  font-size: 1rem;
}

.friend_name {
  font-size: 18px;
  text-align: center;
}

.friend_icon_wrapper {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.friend_icon_wrapper i {
  font-size: 18px;
}

.friendlist {
  display: flex;
}
