.Signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fbf2e7;
}

.signup_container {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  padding: 20px;
}

.Signup h2 {
  color: $purplemajesty;
}

.signup_form {
  // grid-area: form;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup_form > * {
  width: 100%;
  margin: 2%;
}

.name_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name_wrapper > * {
  width: 48%;
}

.inputs-edit-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputs-edit-file + label {
  font-size: 1.25em;
  font-weight: 700;
  color: $purplemajesty;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
  display: inline-block;
  transition: 0.3s;
}

.inputs-edit-file:focus + label,
.inputs-edit-file + label:hover {
  background-color: $mountainpink;
}
